@media (max-width: 991px) {
    .container {
        max-width: 750px;
        padding-right: 20px;
    }

    ul.slick-dots {
        padding-inline-start: 0;
        padding-left: 50%;
        transform: translateX(-5%);
        margin-top: 30px;
        li{
            display: inline;
            padding: 0 5px;
            button {
                font-size: 0;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background-color: $main-color;
                :focus {
                    outline: none;
                }
                :active {
                    border: none;
                }
                :hover {
                    outline: none;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-right: 0;
    }
    .header{
        &__logo {
            img {
                margin-left: 20px;
            }
        }
        &__oficial {
            display: none;
        }
        &__contacts {
            margin-right: 20px;
        }
    }
    .promo{
        &__wrapper {
            align-items: center;
            margin-top: 50px;
        }
    }

    .carousel {
        &__inner {
        width: 100%;
        }
    }
    .slick-slide {
        width: 100%;   
    }
    .slick-slide {
        img{
            width: 100%;
            display: block;
        }
    }
    .catalog {
        &-item {
            width: 285px;
            &__descr {
                padding-right: 20px;
            }  
        }
        &__tabs {
           width: 90%; 
           margin: 0 auto;
        }
    }
}
@media (max-width: 575px) {
    .container {
        width: 100%;
    }
    .header {
       flex-direction: column; 
       align-items: center;
       &__logo {
            img {
                margin-left: 0px;
            }   
       }
       &__contacts {
           flex-direction: row;
           margin-top: 10px;
           margin-right: 10px;
       }
       button {
           width: 110px;
           height: 40px;
           margin-left: 20px;
       }
    }
    .promo {
        text-align: center;
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
            line-height: 25px;
        }
        &__icons{
            width: 100%;
            justify-content: space-around;
        }
    }
    .advantages {
        padding: 30px 0;
        .title {
            font-size: 22px;
        }
        &__items {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
        &__item {
            width: 90%;
            margin-top: 30px;
            img {
                margin-bottom: 5px;
            }
            h3 {
               margin-bottom: 15px; 
            }
        }
    }

    .consultation {
        padding: 40px 10px;
        text-align: center;
        min-height: 600px;
        .title {
           font-size: 23px;
           text-align: center;
        }
        &__descr {
            font-size: 16px;
            margin-top: 40px;
        }
    }

    .carousel {
        padding: 40px 0;
        ul.slick-dots {
            transform:translateX(-11%);
        }
    }

    .catalog {
        padding-bottom: 70px;
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 10px;
        }
        &__content {
            margin-top: 30px;
        }
        &-item {
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }

    .feed {
        &__item {
            display: block;
            align-items: center;
            text-align: center;
            margin-top: 70px;
        }
        &__img {
            padding-right: 0;
            margin-bottom: 20px;
            width: 130px;
        }
        &__descr {
            font-size: 15px;
        }
    }


}