.advantages {
    padding: 70px 0 78px 0;
    min-height: 470px;
    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__item {
        display: block;
        width: 240px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        color: #0d0d0d;
        &:nth-child(3) {
            width: 240px;
        }

        h3 {
            margin-top: 38px;
            margin-bottom: 25px;
        }
        a {
            text-decoration: underline;
            text-transform: uppercase;
            font-weight: 500;
            color: $main-color;
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover{
                animation-play-state: paused;
            }
        }
    }
}