.feed {
    padding-bottom: 71px;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 100px;
        &_first {
            margin-top: 70px;
        }
    }
    &__img {
        padding-right: 67px;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__count {
        margin-top: 10px;
        line-height: 1.2;
        font-size: 14px;
        font-weight: 300;
        color: #646464; 
    }
    &__descr {
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
        margin-top: 19px;
    }
}